body, html {
    background-color: #FFF;
    height: 100%;
}

.textInput::placeholder {
    color: #97bace;
}

.link {
    color: hsla(205, 49%, 66%, 1);
}

.addInstance{
    cursor: pointer;
}

.addInstance:hover {
    text-decoration: underline;
}

#root {
    height: 100%;
}

.toolItem:hover, .folderName:hover {
    text-decoration: underline;
}

input:focus, textarea:focus, select:focus, audio:focus, source:focus{
    outline: none;
}
@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

.rotating {
    animation: rotating 2s linear infinite;
}
