body, html {
    background-color: #eee;
    height: 100%;
}

.addInstance{
    cursor: pointer;
}

.addInstance:hover {
    text-decoration: underline;
}

#root {
    height: 100%;
}

.toolItem:hover, .folderName:hover {
    text-decoration: underline;
}

input:focus, textarea:focus, select:focus, audio:focus, source:focus{
    outline: none;
}
